<app-input-search
  (valueChanged)="searchNews($event)"
></app-input-search>

<section *ngIf="!loading && listNews.length > 0" class="container-list-card">
  <div *ngFor="let news of listNews">
    <app-card-news
      *ngIf="searchText === '' ||
        news.title.toLowerCase().includes(this.searchText.toLowerCase()) ||
        news.sinopse.toLowerCase().includes(this.searchText.toLowerCase())"
      [news]="news"
    ></app-card-news>
  </div>
  <app-not-found
    *ngIf="searchText !== '' && !(verifyIfExistsResults('title', this.searchText) || verifyIfExistsResults('sinopse', this.searchText))"
  ></app-not-found>
</section>
<app-loading
  *ngIf="loading"
></app-loading>

