section {
  background: var(--gradient);

  .container {
    margin: 0 auto;
    padding: 32px 20% 41px 20%;

    &-input {
      display: flex;
      align-items: center;
      background: var(--white-opacity-20);
      border-radius: 5px;

      &-image {
        display: flex;
        align-items: center;
        padding: 0 22px;

        img {
          width: 23.5px;
          height: 23.5px;
        }
      }

      input {
        background: transparent;
        border: none;
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        height: 65px;
        width: 100%;

        &:focus {
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }
    }
  }
}

::placeholder {
  color: var(--white-opacity-50);
}

::-ms-input-placeholder {
  color: var(--white-opacity-50);
}

@media screen and (max-width: 992px) {
  section {
    .container {
      padding: 21px 5% 24px 5%;

      &-input {
        &-image {
          padding: 0 13px;

          img {
            width: 15px;
            height: 15px;
          }
        }

        input {
          font-size: 14px;
          height: 40px;
        }
      }
    }
  }
}
